<ul class="list-inline">
    <li><a href="https://www.facebook.com/AdamSingeDev" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a>
    </li>
    <li><a href="https://www.twitter.com/adamsingle" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li><a href="https://au.linkedin.com/pub/adam-single/42/b36/17" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li><a href="mailto:adam@adamsingle.com" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>  
</ul>